cython<3.0,>=0.28.0
google-cloud-bigquery
google-cloud-notebooks
gs-fastcopy
imagecodecs
JSON-log-formatter
numpy
pydantic
pytest
rasterio
requests
smart_open[gcs]
snakeviz
spektral~=1.0.4
tenacity
tensorflow~=2.17.1
tifffile

# For deepcell 0.12.10 + other libs in requirements-no-deps.txt
jupyter<2
matplotlib
opencv-python-headless<5
pandas
protobuf==3.20.3
pydot<2
scikit-image>=0.19.3
scikit-learn
scipy>=1.2.3,<2
tqdm
